# IDEs
/.buildpath
/.project
/.settings
/.externalToolBuilders
*.swp




# project
*.ini
!*.default.ini
!conf/i18n/*.ini
/sg.properties
!/conf/sgallery.properties
!/tests/**/sgallery.properties




# Build and Tests
/build.properties
/composer.*
!/composer.json
/vendors
phpunit.phar
/tests/public
/phar/*
/sg.phar
