.album {
	h4 {
		margin: 2px 0 5px 0;
		padding: 0px;
		min-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img {
		width: 220px;
	}
}

img.photo {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.modal-backdrop {
	.modal-panel {
		display: none;
	}
	.modal-panel.active {
		display: block;
	}
}

.thumbnails > li {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	.box-shadow(0 1px 3px rgba(0,0,0,.1));
}
.thumbnails > li.album {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.thumbnails > li.span6 {
	width: 210px;
}
