.album {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	border: 1px #ccc solid;

	h4 {
		margin: 2px 5px 5px 5px;
		padding: 0px;
		min-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img {
		margin: 5px;
		width: 210px;
	}
}

.preview {

	img.photo {
		max-height: 100%;
		max-width: 100%;
	}
}